<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BilliardWindowsApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BilliardWindowsApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <BilliardWindowsApplication.Properties.Settings>
      <setting name="BilliardWindowsApplication_biliardService_BilliardScoreboard"
        serializeAs="String">
        <value>http://score.biliardoprofessionale.it/BilliardScoreboard.asmx</value>
      </setting>
      <setting name="BilliardWindowsApplication_SOAPService_BilliardScoreboard"
        serializeAs="String">
        <value>http://test.17207.it/BilliardScoreboard.asmx</value>
      </setting>
    </BilliardWindowsApplication.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="FromMail" value="billinginfo@skyfreelancer.com" />
    <add key="PWD" value="123456" />
    <add key="Host" value="smtpout.secureserver.net" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <BilliardWindowsApplication.Properties.Settings>
      <setting name="startdate" serializeAs="String">
        <value>2017-05-31</value>
      </setting>
      <setting name="emailid" serializeAs="String">
        <value />
      </setting>
      <setting name="setupemail" serializeAs="String">
        <value>info@biliardoprofessionale.it</value>
      </setting>
      <setting name="pass" serializeAs="String">
        <value>sergio123</value>
      </setting>
      <setting name="host" serializeAs="String">
        <value>smtp.biliardoprofessionale.it</value>
      </setting>
      <setting name="tempx" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="tempy" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="billiardno" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ClubLogo" serializeAs="String">
        <value />
      </setting>
      <setting name="CID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="clubname" serializeAs="String">
        <value />
      </setting>
    </BilliardWindowsApplication.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>